.updateinfo{
    height:100%;
    background: #f8faf8;
    .updateinfotitle{
        @include flexbox();
        @include justify-content(center);
        height: 0.4rem;
        font-size:0.2rem;
        line-height:0.4rem;
        color: #fff;
        background: #017C84;
        border-bottom:1px solid #ccc;
        position: relative;
        .back{
            position: absolute;
            top: 0.01rem;
            left: 0.1rem;
        }
       
    }
    .updatehead{
        @include flexbox();
        @include justify-content(space-between);
        height: 0.6rem;
        line-height: 0.6rem;
        background: #fff;
        margin-bottom: 0.1rem;
        border-bottom: 1px solid #d9d9d9;
        .updateheadtou{
            height: 0.6rem;
            color: #333333;
            font-size: 14px;
            padding-left: 0.15rem;
        }
        .updateheadimg{
            @include flexbox();
            height: 0.6rem;
            .ppimg{
               width: 0.5rem;
               height: 0.5rem;
               overflow: hidden; 
               border-radius: 50%;
               margin-right: 0.08rem;
               img{
                   width: 100%;
                   height: 100%;
               }
               
            }
            .updateicon1{
                color: #666;
                margin-right: 0.08rem;     
            }
        }   
    }
    .updatenickname{
        @include flexbox();
        @include justify-content(space-between);
        height: 0.53rem;
        line-height: 0.53rem;
        background: #fff;
        border-bottom: 1px solid #d9d9d9;
        margin-bottom: 0.1rem;
        .updatenicknamekey{
            line-height: 0.53rem;
            color: #333333;
            font-size: 14px; 
            padding-left: 0.2rem;
        }
        .updatenicknameright{
            width:2rem;
            height: 0.53rem;
            @include flexbox();
            @include justify-content(space-between);
            line-height: 0.53rem;
            padding-left: 0.04rem;
            .updatenicknamevalue{
                display: inline-block;
                width:1.7rem;
                height: 0.53rem;
            }
            .updateicon{
                display: inline-block;
                color: #666;
                height: 0.53rem;
                width: 0.3rem;
                
            }
        }
        
       
    }
}
