.dialogcon{
        @include flexbox();
        @include flex-direction(column);
        height: 100%;
        .dialogcontit{
            @include flexbox();
            @include justify-content(center);
            height: 0.47rem;
            font-size:0.2rem;
            line-height:0.47rem;
            color: #fff;
            background: #017C84;
            border-bottom:1px solid #ccc;
            position: relative;
            .back{
                position: absolute;
                top: 0.02rem;
                left: 0.1rem;
            }
        }
        .dialogcontitcon{
            width:100%;
            height:100%;
            border:1px solid #ccc;
            margin-left:0;
            overflow-Y:scroll;
            display:flex;
            flex-direction:column;
            justify-content:flex-end;
            li{
				list-style:none;
				width:100%;
                padding:6px 0;
                span{
                    float:right;
                    padding:4px 6px;
                    margin-right:0.1rem;
                }
			}
           
            
        }
        .dialogconfooter{
            display: flex;
            height: 0.6rem;
            border-top: 1px solid #999999;
            .dialogconvoice{
               margin-left: 0.14rem;
                .dialogvoice{
                    font-size: 36px;
                    color: #666666;
                }
            }
            .dialogconwenzi{
                .dialogtxt{
                    width: 2.1rem;
                    border: none;
                    outline: none;
                    height: 0.38rem;
                    margin-left: 0.1rem;
                    border-bottom: 1px solid #999999;
                }
            }
            .dialogconsmile{
                .dialogsmile{
                    font-size: 36px;
                    margin-left: 0.1rem;
                     color: #666666;
                }
            }
            .dialogconinsert{margin-top: -0.05rem;
                .dialoginsert{
                    
                    font-size: 40px;
                    margin-left: 0.05rem;
                     color: #666666;
                }
            }
            #t1{
                width:100%;
				height:46px;
                float:right;
                border-radius:10px;

            }
            #b1{
                width:100px;;
                height:46px;
                float:left;
                border-radius: 10px;
                background:#017C84;
                color:#fff;
            }
        }
    }