
.foot{
    height:0.5rem;
    background:#fff;
    width:100%;
    border-top:1px solid #ccc; 
    ul{
        height:100%;
        @include flexbox();
        // @include flex-direction(column);
        @include justify-content(space-around);

        @include align-items(center);
        @include border(1px 0 0 0,solid,#ccc);
        li{
            @include flexbox();
            @include flex-direction(column);
            @include justify-content(center);
            @include align-items(center);
            i{
                font-size:0.22rem;
                color: #017c84;
            }
            b{
                font-size:0.12rem;
                color: #017c84;
            }
        }
    }
}