
.foot{
    height:0.6rem;
    background:#fff;
    width:100%;
    border-top:1px solid #ccc; 
    position: fixed;
    bottom:0;
    left: 0;
    ul{
        height:100%;
        @include flexbox();
        // @include flex-direction(column);
        @include justify-content(space-around);

        @include align-items(center);
        @include border(1px 0 0 0,solid,#ccc);
        li{
            @include flexbox();
            @include flex-direction(column);
            @include justify-content(center);
            @include align-items(center);
           // color: #017c84;
           color: #333 !important;
            i{
                font-size:0.22rem;
              
            }
            b{
                font-size:0.12rem;
            }
        }
        .active{
            color:#017c84;
        }
    }
}