@font-face {
  font-family: 'iconfont';
  src: 
  url('/static/font/mineiconfont.woff') format('woff'),
  url('/static/font/mineiconfont.ttf') format('truetype')
}

.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
    font-family:'iconfont';   //修改class名字
    src: 
    url('/static/font/iconfont.woff') format('woff'),
    url('/static/font/iconfont.ttf') format('truetype')
  }
 
@font-face {
  font-family: 'iconfont';
  src: 
  url('/static/font/iconfontmore.woff') format('woff'),
  url('/static/font/iconfontmore.ttf') format('truetype')
}
@font-face {
    font-family: 'iconfont';
    src: 
    url('/static/font/iconfontpos.woff') format('woff'),
    url('/static/font/iconfontpos.ttf') format('truetype')
  }

@font-face {
  font-family: 'iconfont';
  src: 
  url('/static/font/iconfontlogin.woff') format('woff'),
  url('/static/font/iconfontlogin.ttf') format('truetype'),
}
@font-face {
    font-family: 'iconfont';
    src: 
    url('/static/font/iconfontpos.woff') format('woff'),
    url('/static/font/iconfontpos.ttf') format('truetype')
  }

@font-face {
  font-family: 'iconfont';
  src: 
  url('/static/font/iconfontmessage.woff') format('woff'),
  url('/static/font/iconfontmessage.ttf') format('truetype')
}

@font-face {
  font-family: 'iconfont';  /* project id 532672 */
  src: 
  url('//at.alicdn.com/t/font_532672_u0b25w9xsfsi3sor.woff') format('woff'),
  url('//at.alicdn.com/t/font_532672_u0b25w9xsfsi3sor.ttf') format('truetype'),
}

@font-face {
  font-family: 'iconfont';  /* project id 532670 */
  src:
  url('//at.alicdn.com/t/font_532670_i37qrdnaqy0t3xr.woff') format('woff'),
  url('//at.alicdn.com/t/font_532670_i37qrdnaqy0t3xr.ttf') format('truetype'),
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.share{
    font-size: 22px;
}
.personmore{
    color: #017c84;
    font-weight: bold;
    font-size: 18px;
}
.iwallet{
    font-size: 30px;
    color: #017c84;
}
.isale{
    font-size: 30px;
    color: #017c84;
}
.ibankcard{
    font-size: 30px;
    color: #017c84;
}
.ineed{
    font-size: 35px;
    color: #017c84;
    margin-left: 0.02rem;
}
.ievaluate{
    font-size: 25px;
    color: #017c84;
    margin-left: 0.07rem;
}
.irelease{
    font-size: 25px;
    color: #017c84;
    margin-left: 0.07rem;
}
.isetup{
    font-size: 25px;
    color: #017c84;
    margin-left: 0.07rem;
}
.iconnect{
    font-size: 25px;
    color: #017c84;
    margin-left: 0.07rem;
}

.number{
    font-size: 20px;
}

.pwd{
    font-size: 26px;
}

.isearch{
    font-size: 24px;
    color: #fff;
}

.back{
    font-size: 26px;
}
.posback{
    position: fixed;
    top: 0.1rem;
    left: 0.15rem;
    color: white;
    font-weight: normal;
}

.peopletwo{
    font-size: 25px;
    text-align: center;
}
.roomone{
     font-size: 25px;
     text-align: center;
}
.bedone{
     font-size: 25px;
     text-align: center;
}
.toilet{
    font-size: 25px;
    text-align: center;
}
