

.home{
    //@include flex();
    // @include flexbox();
    // @include flex-direction(column);
    position:relative;
    background:#fff; 
    overflow: auto;   
    width:100%;
    .banner{
        height:2.1rem;
        background:red;
       
    }
    .searchTop{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:0.5rem;
        z-index:1000;
        background:#fff;
        border-radius:0 0 0.2rem 0.2rem;
        padding-right:0.2rem;
        @include flexbox();
        @include align-items(center);
        @include justify-content(space-between);
        #checkinout{
            height:0.5rem;
            @include flexbox();
            @include flex();
            @include align-items(center);
        }
        #checkbox{
            width:20%;
        }
    }

    


    .con{
        @include flexbox();
        @include flex();
        @include flex-direction(column);
        height:100%;
        width:100%;
        background: #f4f4f4;
        padding-top:1.5rem;
        margin-bottom: .5rem;
        .cont-hot{
            width: 100%;
            height: 2.42rem;
            // @include flexbox();          
            // @include flex-direction(column);
            margin-bottom: .1rem;
            background: #fff;
            clear: both;
            h3{
                height:0.42rem;
                line-height:0.42rem;
                font-size:0.25rem; 
                background:url('/static/img/hot.png')   no-repeat;
                background-size:.6rem;
                padding-left:0.6rem;
                margin-bottom:0.15rem;

            }          
            .cont-box{
                width: 100%;
                height: 2rem;
                @include flexbox();    
                overflow-x: scroll;              
                .cont-div {
                   width: 48%;
                   margin-left: .1rem;
                   float: left;
                    img{
                       width: 100%;
                       height: 1.5rem;
                    }
                   .cont-info{
                        width: 100%;
                        height: .18rem;
                        line-height: .18rem;
                        @include flexbox();
                        font-size: .14rem;
                        font-weight: bold;
                        margin-top: .05rem;
                        h5{
                            padding-right: .1rem;
                        }
                        p{
                            @include ellipsis();
                        }
                        span{
                            color: #999;
                            padding: 0 .03rem;
                        }
                    }
                }             
            }           
        }
        .cont-choo{
            // @include flexbox();
            // @include flex-direction(column);
            //  @include flex(0.5);
            width:100%;
                   
        }
    
    }
    .searchBox{
        width:3.43rem;
        // height:1.6rem;
        background:#fff;
        position:absolute;
        top:1.85rem;
        left:0.15rem;
        z-index:999;   
        // @include border(1px,solid,#ccc);
        box-shadow: 0 0 8px #888888;
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(space-around);
        @include align-items(center);
        #checkinout{
            height: 0.5rem;
            line-height: 50px;
            position: relative;
            display: -webkit-box;
            display: flex;
            border-bottom: 1px solid #e5e5e5;
            background: #fff;
            width:3rem;
        }
    }
}
   
