

.home{
    @include flex();
    @include flexbox();
    @include flex-direction(column);
    width:100%;
    height:100%;
    background: #fff;
    .m-image{
       // height: 3rem; 
        .title{
            @include flexbox();
            @include justify-content(center);
            height: 0.4rem;
            background: #017c84;
            color: #FFFFFF;
            font-size: 0.2rem;
            position: relative;
            i{
               position: absolute;
               top: 0.04rem;
               right: 0.18rem;
            }
        }
        header{
            @include flexbox();
            @include align-items(center);
            @include flex-direction(column);
            // @include justify-content(space-around); 
            height: 1.2rem;
            margin-top:0.2rem;
            background: #fff;
            border-bottom:1px solid #eee;
            .person-head{
                @include flexbox();
                @include align-items(center);
                width: 0.51rem;
                height: 0.51rem;  
                img{
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    border-radius: 50%;  
                }
            }
            .person-info{
                @include flexbox();
                @include flex-direction(column);
                .person-info-name{
                    font-size: 0.16rem;
                    color: #000;
                    font-weight: bold;
                    margin-top:0.1rem;
                }
                .person-info-signature{
                    font-size: 0.14rem;
                    color: #666;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
               
            }
            .person-more{
                @include flexbox();
                @include align-items(center);
            }
        }
       
        }
    }
    .mes{
        @include flexbox();
        @include flex-direction(column);
        background: #fff;
        min-height:3.93rem ;
        .need{
            width: 98%;
            height: 0.5rem;
            @include flexbox();
            @include align-items(center);
            margin-left: 0.08rem;
            border-bottom: 1px solid #eeeeee;
            span{
                display: block;
                margin-left: 0.05rem;
                color: #333333;
                font-weight: bold;
            }
            
        }
        .bankcard{
            width: 98%;
            height: 0.5rem;
            @include flexbox();
            @include align-items(center);
            margin-left: 0.08rem;
            border-bottom: 1px solid #eeeeee;
            span{
                display: block;
                margin-left: 0.05rem;
                color: #333333;
                font-weight: bold;
            }
            .ibankcard{
                font-size: 0.2rem;
                margin:0.05rem;
            }
        }
        .evaluate{
            @include flexbox();
            @include align-items(center);
            width: 98%;
            margin-left: 0.08rem;
            height: 0.5rem;
            border-bottom: 1px solid #eeeeee;
            span{
                display: block;
                margin-left: 0.11rem;
                color: #333333;
                font-weight: bold;
            }
        }
        .release{
            @include flexbox();
            @include align-items(center);
            height: 0.5rem;
            width: 98%;
            margin-left: 0.08rem;
            border-bottom: 1px solid #eeeeee;
            span{
                display: block;
                margin-left: 0.11rem;
                color: #333333;
                font-weight: bold;
            }
        }
        .setup{
            @include flexbox();
            @include align-items(center);
            height: 0.5rem;
            width: 98%;
            margin-left: 0.08rem;
            border-bottom: 1px solid #eeeeee;
            span{
                display: block;
                margin-left: 0.11rem;
                color: #333333;
                font-weight: bold;
            }
        }
        .connect{
            @include flexbox();
            @include align-items(center);
            height: 0.5rem;
            width: 98%;
            margin-left: 0.08rem;
            border-bottom: 1px solid #eeeeee;
            span{
                display: block;
                margin-left: 0.11rem;
                color: #333333;
                font-weight: bold;
            }
        }
      


}
   